<ion-content scroll-y="false">
  <ion-header>
  <ion-toolbar>
    <ion-title> Add discounts !</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="_openMenuAdmin()" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-item style="text-align: left">
    <ion-label>Name:</ion-label>
    <ion-input type="text" placeholder="Enter the food's name" [(ngModel)]="name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Percentage:</ion-label>
    <ion-input type="number" placeholder="Enter percentage for discount" [(ngModel)]="percentage"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>ExpirationDate:</ion-label>
    <ion-input type="string" placeholder="Enter percentage for discount" [(ngModel)]="expirationDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Restaurant:</ion-label>
    <ion-select class="CategorySelect" [(ngModel)]="restaurantId">
      <ion-select-option [value]="restaurant.id" *ngFor="let restaurant of restaurantList" >
        {{restaurant.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button class="add" fill="outline" color="dark" size="small" (click)="create()" > Add </ion-button>

  <div class="discounts-section ion-padding">
    <h1 align="center">Active Discounts!</h1>

    <ion-select class="CategorySelect" [(ngModel)]="restaurantId2" (ionChange)="onChange()" >
      <ion-select-option [value]="restaurant.id" *ngFor="let restaurant of restaurantList"  >
        {{restaurant.name}}
      </ion-select-option>
    </ion-select>


<!--    <ion-content id="content2" class="padding" scroll-y="true" scrollY="true" scrollEvents="true" overflow-scroll="true">-->
      <ion-list *ngFor="let code of codesList ; let i">
    <ion-item >
      <ion-label>
        <ion-row class="discounts">{{code.name}} </ion-row>
        <ion-row class="percentage">{{code.value}}</ion-row>
        <ion-row>{{code.expirationDate}}</ion-row>
        <ion-button class="delete" fill="outline" color="dark" size="small" (click)="delete(code.id)">Delete</ion-button>
      </ion-label>
    </ion-item>
    </ion-list>

<!--    </ion-content>-->

    </div>

</ion-content>

