ion-content {
  --background: #9CA986;
  ion-toolbar {
    --background: #9CA986;

    ion-buttons {
      ion-badge {
        color: #fff;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 100%;
      }
      ion-icon {
        width: 40px;
        height: 30px;
        top: -20px;
      }
    }
  }

  ion-list{
    ion-card{
      --background: #9CA986;
      ion-card-title{
        font-size: 16px;
      }
      ion-card-content{
        color: #0d0d0d;
        font-size: 16px;
        discounts{
          -webkit-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text;
        }
        .copyCode{
          margin-left: 40%;
        }
      }
    }
  }
}
