<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>Discount Codes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="_openMenuClient()" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--      <ion-icon name="cart-outline" ></ion-icon>-->
      <ion-button color="dark" (click)="openCart()">
        <ion-badge color="dark" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


 <ion-list *ngFor="let code of codeList">
   <ion-label>
  <ion-card>
    <ion-card-title align="center">{{code.restaurantName}}</ion-card-title>
    <ion-card-content>

      <ion-row class="discounts">Discount code:{{code.name}} - {{code.value}}</ion-row>
      <ion-row class="discounts">Expiration date:{{code.expirationDate}}</ion-row>
      <ion-button class="copyCode" (click)="addCode(code)" color="dark" size="small">Copy Code</ion-button>

    </ion-card-content>
  </ion-card>
   </ion-label>
 </ion-list>
</ion-content>
