<ion-content scroll-y="false">
  <ion-header>
  <ion-toolbar>
    <ion-title>View food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="_openMenuAdmin()" color="dark"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
  </ion-header>

  <h1 align="center">Choose a restaurant</h1>
  <ion-item class="restaurant">
    <ion-label>Restaurant</ion-label>
    <ion-select class="RestaurantSelect" [(ngModel)]="restaurant" (ionChange)="onChange(restaurant.id)">
      <ion-select-option *ngFor="let restaurant of restaurantList" [value]="restaurant"  >
        {{restaurant.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
  <ion-item lines="none" *ngFor="let food of foodList; let i=index">
    <ion-thumbnail slot="start">
      <ion-img [src]=""></ion-img>
    </ion-thumbnail>

    <ion-label>{{food.name}}
      <ion-buttons>
        <ion-button  color="dark" (click)="editFood(food.id)">Edit
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
        <ion-button color="dark" (click)="remove(food.id,i)">Delete
          <ion-icon slot="start" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>
<!--    <ion-item lines="none">-->
<!--      <ion-thumbnail slot="start">-->
<!--      </ion-thumbnail>-->
<!--      <ion-label>Item2 Thumbnail-->
<!--        <ion-buttons>-->
<!--          <ion-button  color="dark">Edit-->
<!--            <ion-icon slot="start" name="create"></ion-icon>-->
<!--          </ion-button>-->
<!--          <ion-button color="dark">Delete-->
<!--            <ion-icon slot="start" name="trash"></ion-icon>-->
<!--          </ion-button>-->
<!--        </ion-buttons></ion-label>-->
<!--    </ion-item>-->

<!--    <ion-item-sliding (ionSwipe)="delete(item)">-->

<!--      <ion-item *ngFor="let item of items" (click)="viewItem(item)">{{item.title}}-->
<!--      </ion-item>-->
<!--      <ion-item-options>-->
<!--        <button ion-button expandable (click)="removePost(post)">Delete</button>-->
<!--      </ion-item-options>-->
<!--    </ion-item-sliding>-->
  </ion-list>
</ion-content>

