<ion-content scroll-y="false">
  <ion-toolbar>
    <app-searchbar></app-searchbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="_openMenuClient()" color="dark"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!--      <ion-icon name="cart-outline" ></ion-icon>-->
      <ion-button color="dark" (click)="openCart()">
        <ion-badge color="dark" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-slides>
    <div class="categories">
      <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
    </div>
  </ion-slides>

  <p align="center"> Search for your favourite restaurant ! </p>


  <ion-content scroll-y="true">
<ion-list>
  <ion-toolbar class="ion-no-border" *ngFor="let r of restaurantList">
    <ion-buttons>
      <ion-icon name="pizza"></ion-icon>
        <ion-button size="large" color="dark" (click)="goToRestaurant(r.id)">{{r.name}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-list>
  </ion-content>


<!--  <ion-toolbar>-->
<!--    <ion-label>-->
<!--      <p align="center">Mc Donald's</p>-->
<!--    </ion-label>-->
<!--    <p align="center">-->
<!--      <ion-img  src="./assets/images/mc.jpg" style="width: 50%" align="center"></ion-img>-->
<!--    </p>-->
<!--  </ion-toolbar>-->

<!--  <ion-toolbar>-->
<!--    <ion-label>-->
<!--      <p align="center">KFC</p>-->
<!--    </ion-label>-->
<!--    <p align="center">-->
<!--      <ion-img  src="./assets/images/kfc.jpg" style="width: 50%"></ion-img>-->
<!--    </p>-->
<!--  </ion-toolbar>-->
</ion-content>
<!--<ion-content style="min-height: 10%"  scroll-y="false">-->
<!--  <ion-card>-->
<!--  <p align="center"> And more others ! </p>-->
<!--    <ion-card-content>-->
<!--      <p align="center" >-->
<!--        Don't forget to check the discount codes!-->
<!--      </p>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
<!--</ion-content>-->

