ion-content {
  --background: #9CA986;

  ion-toolbar {
    --background: #9CA986;

    ion-badge {
      color: #fff;
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 100%;
    }

    ion-buttons {
      ion-icon {
        width: 40px;
        height: 30px;
        top: -20px;
      }
    }
  }

  //.categories{
  //  font-weight: bold;
  //}
  //ion-slides {
  //  padding-left: 80px;
  //  padding-right: 80px;
  //  margin: 10px -80px 20px -60px;
  //
  //  .names{
  //    padding-right: 40px;
  //    alignment: initial;
  //    font-weight: bold;
  //  }
  //
  //}

  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }


  p {
    color: #1a1a1a;
    font-weight: bold;
  }

ion-content {
  ion-list {

    --backgound: #9CA986;
    //padding-top: 30px;
    margin-top: -2%;
    margin-left: 20%;

    ion-buttons {
      ion-button {
        font-weight: bold;
      }
    }

    ion-button {
      height: 15%;
      margin-left: 4%;
      margin-bottom: 2%;
    }

  }
}}

  //ion-content {
  //  margin-bottom: 20px;
  //  max-height: 100%;
  //  --offset-top:20%;
  //  ion-card {
  //    background: #28ba62;
  //    border-radius: 30px;
  //    color: #1a1a1a;
  //    margin-top: 40%;
  //
  //    ion-card-content {
  //      font-weight: bold;
  //      margin-top: -8%;
  //    }
  //  }
  //}



