ion-toolbar{
  --background: #9CA986;
}
ion-content{
  ion-list{
    ion-item{
      ion-card{
        --background: #9CA986;
        ion-card-subtitle{
          color: #0d0d0d;
        }
        ion-card-content{
          font-weight: bold;
          color: #0d0d0d;
          .deleteRestaurant{
            border-bottom-right-radius: 20px;
            margin-left: 80%;
            margin-top: -40px;
          }
        }
      }
    }

  }
  .addRestaurant {
    margin-top: 20px;
    background: #9CA986;
    width: 40%;
    font-weight: bold;
    margin-left: 30%;
    border-radius: 9px;
  }
}
