<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>Your orders</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="_openMenuClient()" color="dark"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!--      <ion-icon name="cart-outline" ></ion-icon>-->
      <ion-button color="dark" (click)="openCart()">
        <ion-badge color="dark" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-list *ngFor="let order of ordersList ; let i = index">
    <ion-item>
    <ion-label>
      <ion-card>
        <ion-card-subtitle align="center">Order nr {{i}}</ion-card-subtitle>
        <ion-row>Products:</ion-row>
        <ion-card-content *ngFor="let food of order.foodDtoList">
          <ion-row>{{food.name}}- ${{food.price}}</ion-row>
        </ion-card-content>
        <ion-row>Total price:{{total[i]}}</ion-row>
      </ion-card>
    </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
