<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="browse"></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    Food
    <ion-item *ngFor="let item of selectedItems" lines="inset">
      {{ item.count }}x {{ item.name }} - {{ item.price | currency:'USD':'symbol' }}
      <ion-label slot="end">{{ (item.price * item.count) | currency:'USD':'symbol' }}</ion-label>
    </ion-item>
    <br>
    Discounts
    <ion-item class="discount" *ngFor="let code of Codes">
      <ion-row>{{code.restaurantName}} {{code.name}}</ion-row>
       <span slot="end">  - {{ code.value | currency:'USD':'symbol' }}</span>
    </ion-item>
    <ion-item class="total">
      Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
    </ion-item>
  </ion-list>
  <ion-buttons>
    <ion-button routerLink="/pay" color="dark">Pay</ion-button>
  </ion-buttons>
</ion-content>
