ion-toolbar{
  --background: #9CA986;
}
ion-content{

  ion-card-content{
    font-weight: bold;
  }
  //ion-list{
  //  ion-item{
  //    --background: #9CA986;
  //
  //  }
  //}

  .saveRestaurant{
    margin-top: 20px;
    background: #9CA986;
    width: 40%;
    font-weight: bold;
    margin-left:27%;
    border-radius: 9px;
  }
}
